body{
    background-color: #efefef;
}
.main{
    background-color: #ffffff;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}
.media-body{
    padding: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
}
.community-comment{
    margin: 10px 0;
}
.community-comment-btn{
    float: right;
    margin-bottom: 10px;
}